@import "tailwindcss";

@theme {
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --animate-marquee: marquee 45s linear infinite;
    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
}
